*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    font-family: 'Alegreya';font-size: 22px;
    background-image: url(kepek/_13c1f839-af03-445b-bfb4-5de4d9a1190d.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
main{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    color: white;
    background-color: rgba(21, 20, 112, 0.575);
}
header h1{
    text-align: center;
}
header{
    flex: 0 0 100%;
    padding: 20px;
}
nav{
    flex: 0 0 30%;
    padding: 10px
}
article{
    flex: 0 0 70%;
}
nav ul{
    display: flex;
    flex-direction: column;
}
nav li{
    flex: 0 0 33,3%;
    list-style: none;
    padding: 5px;
    border: 1px black solid;
}
nav a{
    text-decoration: none;
    color: white;
}
article img{
    width: 100%;
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}
article div{
    flex: 0 0 49%;
}
.richard {
    color: rgb(51, 212, 241);
}
.aldric {
    color: rgb(97, 141, 236);
}
<<<<<<< HEAD
=======
=======
>>>>>>> 7fb2dc4be2ff6c92fa3db4a8f45d4cb618f5d2c0
footer{
    flex: 0 0 100%;
    text-align: center;
}
form{
    width: 100%;
}
fieldset{
    padding: 10px;
}
footer{
    flex: 0 0 100%;
    text-align: center;
}
form{
    width: 100%;
}
fieldset{
    padding: 10px;
<<<<<<< HEAD
    
<<<<<<< HEAD
>>>>>>> 292de0032cb66e9649730d505cd86a85cb6b16e0
=======
=======
>>>>>>> 7fb2dc4be2ff6c92fa3db4a8f45d4cb618f5d2c0
}
input{
    padding: 5px;
}
select{
    padding: 5px;
}
label{
    width: 200px;
    float: left;
}
legend{
    border: 1px white solid;
    padding: 5px;
}